/* Tailwind does not support ::after pseudo-elements directly, so we use custom CSS */
.menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: white;
  transition: background-color 0.3s ease;
}

.menu-link:hover::after {
  background-color: #facc15;
}

.menu-link.active {
  color: #facc15 !important;
}

.menu-link.active::after {
  background-color: #facc15;
}

.history-menu.active {
  background-color: #ffc600 !important;
  color: black !important; /* Perubahan warna teks untuk tombol aktif */
  font-weight: 500;
}

.header-img {
  background-image: url("../assets/png/header.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.menu-img {
  background-image: url("../assets/png/menu.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.about-img {
  background-image: url("../assets/png/about.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.cart-img {
  background-image: url("../assets/png/cart.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
  padding: 0;
}

.animation {
  animation: animateModal 0.5s;
  -webkit-animation: animateModal 0.5s;
}

@keyframes animateModal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.text-shadow {
  text-shadow: 0 4px 4px black;
}

.text-shadow-2 {
  text-shadow: 0 3px 3px gray;
}
